<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@administrador.czdglxta5m61.us-east-2.rds.amazonaws.com:1521:ORCL</property>
    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.username">admin</property>
    <property name="hibernate.connection.password">administrador</property>
    <mapping class="com.labs.lucasian.main.AdministradoraEntity"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>